* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

main {
    max-width: 62.6rem;
    margin: 6.4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgba(63, 61, 86, 1);
    margin-top: 3.2rem;
    margin: 1.6rem;
    font-family: 'Dosis', sans-serif;
    font-size: 3.2rem;
}

p {
    color: rgba(130, 130, 130, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.2rem;
    text-align: center;
    padding-left: 4rem;
}

.flutuar {
    color: rgb(95, 95, 100);
}

.destino {
    color: rgba(238, 36, 255, 1);
}

span {
    color: rgba(63, 61, 86, 1);
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 4.2rem;
    border-top: solid 1px rgba(236, 239, 242, 1);
    width: 39rem;
    margin: 0 auto;
    padding-top: 3rem;
}

li {
    list-style-type: none;
}

li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(63, 61, 86, 1);
}

.wave {
position: absolute;
width: 100%;
height: 10rem;
bottom: 0;
background: #3F3D56;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
